appdirs==1.4.4
attrs==21.4.0
Brotli==1.0.9
cattrs==1.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cssselect2==0.6.0
Flask==2.1.1
Flask-Cors==3.0.10
fonttools==4.33.2
html5lib==1.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pdf2image==1.16.0
Pillow==9.1.0
pycparser==2.21
pydyf==0.1.2
PyJWT==2.3.0
pyphen==0.12.0
pytz==2022.1
requests==2.27.1
six==1.16.0
tinycss2==1.1.1
twilio==7.8.2
url-normalize==1.4.3
urllib3==1.26.9
weasyprint==54.3
webencodings==0.5.1
Werkzeug==2.1.1
zipp==3.8.0
zopfli==0.2.1
